{% extends 'django_bank_app/base.html' %} 
{% load static %} 
{% block content %} 

{% if messages %} 

{% for message in messages %}
<p class="alert alert-{{ message.tags }} my-2">{{ message }}</p>
{% endfor %} 

{% endif %}
<div class="home">
  <div class="row showcase">
    <div class="col-md-6 mb-5 showcase__left">
      <img src="{% static 'django_bank_app/images/undraw_pay_online_b1hk.svg' %}" alt="" />
    </div>
    <div class="col-md-6 mb-5 showcase__right">
      <h1>Easy Transfer, Cardless withdrawal and Premium Support</h1>
    </div>
  </div>
</div>

{% endblock content %}
