{% extends 'django_bank_app/base.html' %} 
{% load static %} 
{% block content %}

{% if messages %} {% for message in messages %}
<p class="alert alert-{{ message.tags }} my-2">{{ message }}</p>
{% endfor %} {% endif %}
<div class="row transfer">
  <div class="col-md-6 mb-5 transfer__left">
    <h3>Easy Money Transfer</h3>
    <p>Enjoy a <span class="bold">hussle-free money transfer</span> to your loved ones.</p>
    <img src="{% static 'django_bank_app/images/undraw_transfer_money_rywa.svg' %}" alt="">

  </div>

  <form class="col-md-6 mb-5" method="POST" action="{% url 'transfer_process' %}">
    {% csrf_token %}
    <div class="form-group">
      <input
        type="number"
        class="form-control form-control-sm"
        placeholder="Enter recipient's account number"
        name="account"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="number"
        class="form-control form-control-sm"
        placeholder="Enter amount to transfer"
        name="amount"
        required
      />
    </div>
    
    <button type="submit" class="btn btn-primary btn-sm">Transfer</button>
  </form>
</div>

{% endblock content %}
